SUBSYSTEM!="block", GOTO="bcachefs_end"
ACTION!="add|change", GOTO="bcachefs_end"
ENV{ID_FS_TYPE}!="bcachefs", GOTO="bcachefs_end"

RUN+="/sbin/initqueue --finished --unique --name bcachefs_finished /sbin/bcachefs_finished"

LABEL="bcachefs_end"
